In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Import csv file with city data
city_data_df_old = pd.read_csv("weather_data/cities.csv")
city_data_df_old.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-11-28 22:09:47,59.7035,30.7861,22.89,93,91,5.97
1,1,Saky,UA,2021-11-28 22:09:48,45.1356,33.6031,54.54,92,64,16.37
2,2,Victoria,HK,2021-11-28 22:05:15,22.2855,114.1577,67.98,64,26,6.40
3,3,Tiksi,RU,2021-11-28 22:09:49,71.6872,128.8694,-14.30,99,99,6.49
4,4,Porosozero,RU,2021-11-28 22:09:49,62.7191,32.7270,11.82,92,100,5.50

In [3]:
city_data_df_old.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyDb9uU4fnQPkIWTJ3RebuqW8wy0oNOJ9MM")

In [5]:
# Get the maximum temperature.
max_temp = city_data_df_old["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df_old[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df_old["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df_old[["Lat", "Lng"]]
humidity = city_data_df_old["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df_old[["Lat", "Lng"]]
clouds = city_data_df_old["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df_old[["Lat", "Lng"]]
wind = city_data_df_old["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df_old.loc[(city_data_df_old["Max Temp"] <= max_temp) & \
                                       (city_data_df_old["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Ormara,PK,2021-11-28 22:09:49,25.2088,64.6357,75.74,48,0,6.67
6,6,Rikitea,PF,2021-11-28 22:09:50,-23.1203,-134.9692,77.07,73,9,16.75
11,11,Neuquen,AR,2021-11-28 22:08:34,-38.9516,-68.0591,82.65,14,10,9.01
13,13,Okakarara,NaN,2021-11-28 22:09:53,-20.5833,17.4333,76.03,29,97,2.21
23,23,Hilo,US,2021-11-28 22:09:57,19.7297,-155.0900,78.53,65,90,10.36
30,30,Niquero,CU,2021-11-28 22:10:00,20.0431,-77.5828,78.69,65,4,3.69
32,32,Catalina,US,2021-11-28 22:10:01,32.5056,-110.9211,78.66,18,0,1.12
36,36,Valparaiso,CL,2021-11-28 22:10:02,-33.0393,-71.6273,76.64,34,0,18.41
37,37,Banda Aceh,ID,2021-11-28 22:10:03,5.5577,95.3222,77.40,82,98,3.06
41,41,Avarua,CK,2021-11-28 22:10:05,-21.2078,-159.7750,80.65,61,40,3.44

In [12]:
preferred_cities_df.count()

City_ID       155
City          155
Country       154
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5       Ormara      PK     75.74  25.2088   64.6357
6      Rikitea      PF     77.07 -23.1203 -134.9692
11     Neuquen      AR     82.65 -38.9516  -68.0591
13   Okakarara     NaN     76.03 -20.5833   17.4333
23        Hilo      US     78.53  19.7297 -155.0900
30     Niquero      CU     78.69  20.0431  -77.5828
32    Catalina      US     78.66  32.5056 -110.9211
36  Valparaiso      CL     76.64 -33.0393  -71.6273
37  Banda Aceh      ID     77.40   5.5577   95.3222
41      Avarua      CK     80.65 -21.2078 -159.7750

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))